.header{
  @include padding();
  border-bottom: 1px solid #e5e5e5;
  background-color: $black;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

  ul {
    li {
      a {
        color:$mainLink;
      }
      &:first-child {
        a {
          color:green;
        }
      }
      &.menu-item {
        font-size:18px;

        &.first {
          @include firstMenuItem();
        }
      }
    }
  }
}
